.combat_menu {
  height: 170px;
  width: 1200px;
  background-color: white;
  position: absolute;
  margin: 0;
  top: 630px;
  left: 10%;
  z-index: 100;
}
.on {
  opacity: 1;
}
.off {
  opacity: 0;
}
#canvas_div {
  margin: 0 10%;
}
.pointer {
  pointer-events: none;
  opacity: 0.5;
}

body {
  margin: 0;
}
#button_container {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}
#button_container button,
#objects_container button {
  height: 170px;
  width: 20%;
  font-size: 40px;
  color: white;
}
#atkbtn {
  background-image: url(./images/spin_attack_icon_by_bbricker87-d7sn46v.png);
  background-size: 100% 100%;
}
#defbtn {
  background-image: url(./images/shield-icon.png);
  background-size: 100% 100%;
}
#magbtn {
  background-image: url(./images/magic-icon.png);
  background-size: 100% 100%;
}
#runbtn {
  background-image: url(./images/run.png);
  background-size: 100% 100%;
}
#objbtn {
  background-image: url(./images/bag.jpg);
  border: 3px solid #3bff00;
  border-radius: 15px;
  background-size: 100% 100%;
}
.textArea {
  height: 130px;
  width: 1200px;
  position: absolute;
  margin: 0;
  top: 630px;
  left: 10%;
  background-image: url(./images/bordedeco.jpg);
  background-size: 100% 100%;
  opacity: 0;
  z-index: 0;
  font-size: 70px;
  text-align: center;
  padding-top: 35px;
}
#objects_container {
  height: 170px;
  width: 1200px;
  position: absolute;
  margin: 0;
  top: 630px;
  left: 10%;
  background-color: rgba(0, 0, 250, 0.8);
}
.show {
  opacity: 1;
  z-index: 300;
}
#potion {
  background-image: url(./images/Heal_Potion_Icon.png);
  background-size: 100% 100%;
}
#elixir {
  background-image: url(./images/elixir.png);
  background-size: 100% 100%;
}
#back {
  background-image: url(./images/return.jpg);
  background-size: 100% 100%;
}
