.combat_menu {
  height: 170px;
  width: 1200px;
  background-color: blue;
  position: absolute;
  margin: 0;
  top: 630px;
  left: 10%;
}
.on {
  opacity: 1;
}
.off {
  opacity: 0;
}
#canvas_div{
    
    margin: 0 10%
}
.pointer{
  pointer-events:none;
  opacity:0.5;
}

body{
    margin:0;
}